img{float: right;
    height: 200;
    border: 3px solid;
}
div{
  font: italic 1em "Fira Sans", serif;
}
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 85%;
    margin-bottom: 1em;
    padding: 10px
    }
    .toc_title {
    font-weight: 700;
    text-align: center;
    }
    #toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    }
figure {
  float: right;
  text-align:center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin rgb(183, 178, 178) solid;
  margin: 0.5em;
  padding: 0.5em;
  border : 2px ridge
}
table {
  border: 2px solid black 
  
}